apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "arcadedb.fullname" . }}
  annotations:
  {{- range $key, $value := .Values.annotations }}
  {{- printf "%s: %s" $key (tpl $value $ | quote) | nindent 4 }}
  {{- end }}
  labels:
    {{- include "arcadedb.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "arcadedb.selectorLabels" . | nindent 6 }}
  replicas: {{ .Values.replicas }}
  serviceName: {{ include "arcadedb.fullname" . }}
  podManagementPolicy: {{ .Values.podManagementPolicy }}
  {{- if .Values.updateStrategy }}
  updateStrategy: {{- toYaml .Values.updateStrategy | nindent 4 }}
  {{- end }}
  template:
    metadata:
      annotations:
      {{- range $key, $value := .Values.annotations }}
      {{- printf "%s: %s" $key (tpl $value $ | quote) | nindent 8 }}
      {{- end }}
      labels:
        {{- include "arcadedb.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ template "arcadedb.serviceAccountName" . }}
      {{- include "arcadedb.imagePullSecrets" . | nindent 6 }}
      {{- if .Values.podSecurityContext.enabled }}
      securityContext: {{- include "common.compatibility.renderSecurityContext" (dict "secContext" .Values.podSecurityContext "context" $) | nindent 8 }}
      {{- end }}
      {{- if and .Values.persistence.enabled .Values.volumePermissions.enabled }}
      initContainers:
        - name: init-arcadedb-data-permissions
          image: {{ include "arcadedb.volumePermissionsImage" . }}
          securityContext: {{- include "common.compatibility.renderSecurityContext" (dict "secContext" .Values.volumePermissions.containerSecurityContext "context" $) | nindent 12 }}
          command: ['sh', '-c', 'chown -R {{ .Values.containerSecurityContext.runAsUser }}:{{ .Values.podSecurityContext.fsGroup }} /data; chmod -R 0755 /data']
          volumeMounts:
            - name: datadir
              mountPath: /data
              {{- if .Values.persistence.subPath }}
              subPath: {{ .Values.persistence.subPath }}
              {{- end }}
          {{- if .Values.volumePermissions.resources }}
          resources: {{- toYaml .Values.volumePermissions.resources | nindent 12 }}
          {{- else if ne .Values.volumePermissions.resourcesPreset "none" }}
          resources: {{- include "common.resources.preset" (dict "type" .Values.volumePermissions.resourcesPreset) | nindent 12 }}
          {{- end }}
      {{- end }}
      containers:
        - name: {{ include "arcadedb.fullname" . }}
          image: {{ include "arcadedb.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext: {{- include "common.compatibility.renderSecurityContext" (dict "secContext" .Values.containerSecurityContext "context" $) | nindent 12 }}
          env:
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: ARCADEDB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: rootPassword
                  name: {{ include "arcadedb.fullname" . }}
                  optional: false
          command:
            - "bin/server.sh"
          {{- with .Values.args }}
          args:
          {{- tpl . $ | nindent 12 }}
          {{- end }}
          ports:
            - containerPort: 2480
              name: http
            - containerPort: 2424
              name: rpc
            {{- if .Values.service.gremlinPort }}
            - containerPort: 8182
              name: gremlin
            {{- end }}
          {{- with .Values.extraPorts }}
          {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if .Values.livenessProbe }}
          livenessProbe: {{- toYaml .Values.livenessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.readinessProbe }}
          readinessProbe: {{- toYaml .Values.readinessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.resources }}
          resources: {{- toYaml .Values.resources | nindent 12 }}
          {{- else if ne .Values.resourcesPreset "none" }}
          resources: {{- include "common.fnt.resources.preset" (dict "type" .Values.resourcesPreset "common" .Values.global.common) | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: datadir
              mountPath: /mnt/data0
          {{- with .Values.extraVolumeMounts }}
          {{- tpl . $ | nindent 12 }}
          {{- end }}

      {{- with .Values.extraContainers }}
      {{- tpl . $ | nindent 6 }}
      {{- end }}

      {{- if .Values.affinity }}
      affinity: {{- toYaml .Values.affinity | nindent 8 }}
      {{- end }}

      {{- with .Values.extraVolumes }}
      volumes:
      {{- tpl . $ | nindent 8 }}
      {{- end }}

      {{- if and .Values.persistence.enabled .Values.persistence.existingClaim }}
      volumes:
        - name: datadir
          persistentVolumeClaim:
            claimName: {{ tpl .Values.persistence.existingClaim $ }}
      {{- else if not .Values.persistence.enabled }}
      volumes:
        - name: datadir
          emptyDir: {}
      {{- end }}

  {{- if and .Values.persistence.enabled (not .Values.persistence.existingClaim) }}
  volumeClaimTemplates:
    - metadata:
        name: datadir
        {{- with .Values.persistence.annotations }}
        annotations: {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- with .Values.persistence.labels }}
        labels: {{- toYaml . | nindent 10 }}
        {{- end }}
      spec:
        accessModes:
        {{- range .Values.persistence.accessModes }}
          - {{ . | quote }}
        {{- end }}
        resources:
          requests:
            storage: {{ .Values.persistence.size | quote }}
        {{- if .Values.persistence.selector }}
        selector: {{- toYaml .Values.persistence.selector | nindent 10 }}
        {{- end }}
        {{- if .Values.persistence.storageClass }}
        storageClassName: {{ .Values.persistence.storageClass | quote }}
        {{- end }}
  {{- end }}